body {
  background: #F5F5F5;
  font-family: sans;
  margin: 40px;
  color: #333;
}

button {
  background: DodgerBlue;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  color: #FFF;
  border: 0;

  + button {
    margin-left: 20px;
  }
}

p strong {
  margin: 0 4px;
}

.counter {
  font-size: 20px;
  padding: 30px 0;
  display: flex;

  span {
    margin-right: 10px;
  }
}
